apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-follower
  labels:
    app: redis
    tier: backend
    role: follower
spec:
  replicas: 2
  selector:
    matchLabels:
      app: redis
      tier: backend
      role: follower
  template:
    metadata:
      labels:
        app: redis
        tier: backend
        role: follower
    spec:
      containers:
      - name: redis
        image: redis:6.0.5
        ports:
        - containerPort: 6379
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 200m
            memory: 256Mi
---
apiVersion: v1
kind: Service
metadata:
  name: redis-follower
  labels:
    app: redis
    tier: backend
    role: follower
spec:
  ports:
  - port: 6379
    targetPort: 6379
  selector:
    app: redis
    tier: backend
    role: follower
